# Exploration of Car Make and Violation Description Data from The City of Los Angeles Parking Citation Open Dataset

## Data cleanliness

Building on previous explorations of the Los Angeles Parking Citation Open Dataset, these analyses will further explore the connections between car make and parking violation type. Before going much further, data completeness and consistency has to be explored.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.decomposition import PCA
import os
from pathlib import Path
import random
import seaborn as sns

# Load project directory
PROJECT_DIR = Path(os.path.abspath('../..'))

In [2]:
df = pd.read_csv(PROJECT_DIR / 'data/raw/2021-01-02_raw.csv',skiprows=lambda i: i > 0 and random.random() > .01,)
df.head()

,Ticket number,Issue Date,Issue time,Meter Id,Marked Time,RP State Plate,Plate Expiry Date,VIN,Make,Body Style,...,Route,Agency,Violation code,Violation Description,Fine amount,Latitude,Longitude,Agency Description,Color Description,Body Style Description
0,1107179581,12/27/2015,1055.0,NaN,NaN,CA,201605.0,NaN,TOYO,PA,...,NaN,54.0,8058L,PREF PARKING,68.0,99999.0,99999.0,NaN,NaN,NaN
1,1110265251,12/16/2015,1340.0,NaN,NaN,CA,NaN,NaN,NaN,TR,...,22MP4,1.0,5204A,EXPIRED TAGS,25.0,99999.0,99999.0,NaN,NaN,NaN
2,1112716673,12/28/2015,1020.0,NaN,NaN,CA,201601.0,NaN,KIA,PA,...,00461,54.0,8069BS,NO PARK/STREET CLEAN,73.0,99999.0,99999.0,NaN,NaN,NaN
3,1112718025,12/28/2015,1222.0,NaN,NaN,CA,201510.0,NaN,SATU,PA,...,00461,54.0,5204A,EXPIRED TAGS,25.0,99999.0,99999.0,NaN,NaN,NaN
4,1113965031,12/24/2015,1108.0,NaN,NaN,CA,201701.0,NaN,FORD,PA,...,00141,51.0,8069BS,NO PARK/STREET CLEAN,73.0,6436025.9,1833425.9,NaN,NaN,NaN

In [3]:
# Missing data
df[['Violation code', 'Violation Description']].isna().sum()/len(df)

Violation code           0.004298
Violation Description    0.009355
dtype: float64

In [4]:
# Unique pairs of data with missing data
df[['Violation code', 'Violation Description']][df['Violation code'].isna()|df['Violation Description'].isna()].drop_duplicates()[:10]

      Violation code Violation Description
4714             000                   NaN
98690            NaN                   NaN
99242         8069AP                   NaN
99244          8069A                   NaN
99248         4000A1                   NaN
99249          22514                   NaN
99255          8058L                   NaN
99335         8056E4                   NaN
99338          8813B                   NaN
99419        225078A                   NaN

In [5]:
# Remove entries with both violation code and violation description missing
df = df[~(df['Violation code'].isna() & df['Violation Description'].isna())]

In [6]:
same_codes = set(df['Violation code']).intersection(set(df['Violation Description']))

df[['Violation code', 'Violation Description']][df['Violation Description'].isin(same_codes)]

       Violation code Violation Description
194               024                 22514
332               010                22500E
1080              024                 22514
1191              098                  5200
1370              013                22500H
...               ...                   ...
103026            013                22500H
104846            011                22500F
104908            010                22500E
104909            098                  5200
104939            013                22500H

[441 rows x 2 columns]

It would seem that there are a few violation codes that have been entered in as violation descriptions. The codes should be moved over and the descriptions should be deleted. It would seem that the 3 numeral violation codes are not very meaningful sometimes and that 000 is often used for different types violations.

In [7]:
# Create function to swap codes and descriptions
def code_swap(df):
    df['Violation code'] = df['Violation Description']
    df['Violation Description'] = np.nan
    return df

In [8]:
code_swap_filter = (df['Violation Description'].isin(same_codes) | (df['Violation code'] == '000'))

df.loc[code_swap_filter,['Violation code', 'Violation Description']] = df[['Violation code', 'Violation Description']][code_swap_filter].apply(code_swap, axis=1)

# Remove new entries with both violation code and violation description missing
df = df[~(df['Violation code'].isna() & df['Violation Description'].isna())]

In [9]:
df[['Violation code', 'Violation Description']].drop_duplicates().sort_values('Violation code')

       Violation code Violation Description
4648              022                225078
22083             030                 22522
13751             031                22523A
8908              032                22523B
274               099                  5204
...               ...                   ...
42623           8939B                   NaN
104682           8940                   NaN
622              8940          PARKING AREA
42089           8940B       PK OVR 2 SPACES
21885            8942          MORE 18-CURB

[249 rows x 2 columns]

In [10]:
code_dict = {}
for code in set(df['Violation code']):
    desc_aliases = df.loc[(df['Violation code'] == code), 'Violation Description'].drop_duplicates()        .dropna().to_list()
    if desc_aliases:
        if len(desc_aliases) > 1:
            code_dict[code] = max(desc_aliases, key=len)
        else:
            code_dict[code] = desc_aliases[0]

In [11]:
code_dict

{'80731': 'STORING VEH/ON STR',
 '8939': 'WHITE CURB',
 '80.7': 'NO STOPPING/ANTI-GRIDLOCK ZONE',
 '8056': 'YELLOW ZONE',
 '8051A': 'LEFT SIDE OF ROADWAY',
 '8942': 'MORE 18-CURB',
 '8049': 'WRG SD/NOT PRL',
 '80.69.4': 'PK OVERSIZ',
 '22507.8C2': 'DISABLED PARKING/CROSS HATCH',
 '225001': 'PARK FIRE LANE',
 '22511.57B': 'DP- RO NOT PRESENT',
 '22502E': '18 IN. CURB/1 WAY',
 '80694**': 'PK OVERSIZED 3RD',
 '22523B-': 'ABAND VEH/PUB/PRIV',
 '80.61': 'STANDNG IN ALLEY',
 '8936': 'RED CURB',
 '22500L-': 'DP-BLKNG ACCESS RAMP',
 '80.69A+': 'STOP/STAND PROHIBIT',
 '22507.8C1': 'DISABLED PARKING/BOUNDARIES',
 '80.71.3': 'PARKING/FRONT YARD',
 '85.01': 'REPAIRING VEH/STREET',
 '22523A-': 'ABAND VEH/HIGHWAY',
 '80.56E4+': 'RED ZONE',
 '22507.8B': 'DISABLED PARKING/OBS',
 '8603': 'PK IN PROH AREA',
 '8058L': 'PREF PARKING',
 '21113A+': 'PUBLIC GROUNDS',
 '8073': 'ANGLE PKD',
 '80.58L': 'PREFERENTIAL PARKING',
 '8069BS': 'NO PARK/STREET CLEAN',
 '8056E4': 'RED ZONE',
 '22507.8A': 'DISABLED PARKING/NO',
 '5202': 'PERIOD OF DISPLAY',
 '80661D': 'RESTRICTED ZONE',
 '80.66.1D': 'RESTRICTED TAXI ZONE',
 '22511.57': 'DP- RO NOT PRESENT',
 '80692**': 'COMVEH RES/OV TM C-3',
 '88.64A': 'TIME LIMIT/CITY LOT',
 '80713': 'PARKING/FRONT YARD 1',
 '8056E1': 'WHITE ZONE',
 '8754': 'ADVERTISING ON VEH',
 '80.70': 'NO STOPPING/ANTI-GRIDLOCK ZONE',
 '22500L': 'BLOCK HANDICAP ACCES',
 '22511.56B': 'DP-REFUSE ID',
 '80692': 'COMVEH RES/OV TM LMT',
 '8069AA': 'NO STOP/STAND AM',
 '8709B': 'PARK-PSTD AREAS',
 '5200': 'DISPLAY OF PLATES',
 '80.56E3': 'GREEN ZONE',
 '5200A': 'DSPLYPLATE A',
 '8069C': 'PKD OVER TIME LIMIT',
 '4000A1': 'NO EVIDENCE OF REG',
 '80714': 'PRIVATE PROPERTY',
 '225078B': 'HANDICPD/BLOCKING',
 '225078C2': 'HANDICAP/CROSS HATCH',
 '80692*': 'COMVEH RES/OV TM B-2',
 '80.69.1A': 'COMM TRAILER/22 FT.',
 '80.54': 'OVERNIGHT PARKING',
 '80.56E2': 'YELLOW ZONE',
 '8069B': 'NO PARKING',
 '22507A': 'OVERSIZED VEHICLE PARKING TOPHAM ST',
 '8069D': "TRAILER   6' HIGH",
 '22507.8B-': 'DISABLED PARKING/OBSTRUCT ACCESS',
 '8056E2': 'YELLOW ZONE',
 '099': '5204',
 '88.03A': 'OUTSIDE LINES/METER',
 '22500C': 'SAFETY ZONE/CURB',
 '8054H1': 'OVNIGHT PRK W/OUT PE',
 '572521E': 'OBST FIRE RD',
 '80.75.1': 'AUDIBLE ALARM',
 '88.53': 'OFF STR MTR/OUT LINE',
 '22511.57C': 'DP-ALTERED',
 '225078C1': 'HANDICAP/ON LINE',
 '22500H': 'DOUBLE PARKING',
 '80.69.1C': 'PK TRAILER',
 '570': '2251157B',
 '553': '80581',
 '89355C': 'ILGL EXT OF TM',
 '030': '22522',
 '80.53': 'PARKED IN PARKWAY',
 '80.71.4': 'PRIVATE PROPERTY',
 '22515': 'UNATT/MOTOR ON',
 '80.69AP+': 'NO STOP/STANDING',
 '8053': 'PKD IN/ON PARKWAY',
 '569': '2251157A',
 '80691A': 'COMM TRAILER/22 FT.',
 '88.63B+': 'OFF STR/OVERTIME/MTR',
 '8069AP': 'NO STOP/STAND PM',
 '80.69C': 'PARKED OVER TIME LIMIT',
 '022': '225078',
 '22526': 'BLOCKING INTERSECTION',
 '6344K2': 'NO PARKING BETWEEN POSTED HOURS',
 '8709D': 'LOADING ZONES',
 '8056E3': 'GREEN ZONE',
 '86.06': 'CITY PARK/PROHIB',
 '80.72': 'RED FLAG DAY',
 '22502A': '18 IN. CURB/2 WAY',
 '22522-': '3 FT. SIDEWALK RAMP',
 '86.03': 'CITY PARK/PROHIB',
 '88.13B+': 'METER EXP.',
 '8606': 'PK OTSD PSTD AR',
 '22514': 'FIRE HYDRANT',
 '8709K': 'PK OVR PNTD LNS',
 '80694': 'PK OVERSIZED 1ST',
 '22500A': 'WITHIN INTERSECTION',
 '89391C': 'EXCEED TIME LMT',
 '80691C': 'PARKING UNHITCHED TR',
 '80.72.5': 'PK ON PRIV ST',
 '22507.8C': 'DISABLED PARKING/CRO',
 '8813B': 'METER EXPIRED',
 '22507.8A-': 'DISABLED PARKING/NO DP ID',
 '22500F': 'PARKED ON SIDEWALK',
 '22500.1+': 'PARKED IN FIRE LANE',
 '8070': 'PARK IN GRID LOCK ZN',
 '80.49+': '18 IN/CURB/COMM VEH',
 '22511.1B': 'PRK IN ELEC VEH SPACE',
 '032': '22523B',
 '80.69B': 'NO PARKING',
 '22511.57A': 'DP-SUBPLATE',
 '22500B': 'PARKED IN CROSSWALK',
 '5204A': 'EXPIRED TAGS',
 '6344K8': 'SIGN POSTED - NO PARKING',
 '8940B': 'PK OVR 2 SPACES',
 '5204A-': 'DISPLAY OF TABS',
 '80.56E1': 'WHITE ZONE',
 '22500I-': 'PARKED IN BUS ZONE',
 '80.73.2': 'EXCEED 72HRS-ST',
 '031': '22523A',
 '8702': 'PK NR FIRE HYDR',
 '8061': 'STNDNG IN ALLEY',
 '80.69D': "VEH/LOAD OVR 6' HIGH",
 '21113': 'PRKG PUBL GRNDS',
 '805.6': 'WHITE ZONE',
 '572521D': 'MT FIRE RD NO PERMIT',
 '225078A': 'HANDICAP/NO DP ID',
 '571': '2251157C',
 '80.69AA+': 'NO STOP/STAND',
 '17104H': 'LOAD/UNLOAD ONLY',
 '80732': 'EXCEED 72 HOURS',
 '80.69.2': 'COMM VEH OVER TIME LIMIT',
 '80.69BS': 'NO PARK/STREET CLEAN',
 '22500E': 'BLOCKING DRIVEWAY',
 '87.55': 'FOR SALE SIGN',
 '8803A': 'PK OUTSD SPACE',
 '80.54H1': 'OVNIGHT PRK W/OUT PE',
 '5201': 'POSITION OF PLATES',
 '17104C': 'R/PRIV PARKING AREA',
 '80.74': 'CLEANING VEH/STREET',
 '88.66': 'ELECTRIC CHARGING STATION SPACES',
 '8940': 'PARKING AREA',
 '8074': 'CLEANING VEH/STREET',
 '80.58.1': 'CARSHARE PARKING',
 '21211B': 'BLK BIKE PATH OR LANE',
 '22511': 'VETS EXEMPTION',
 '8069A': 'NO STOPPING/STANDING',
 '6344K7': 'PARKING OUTSIDE PARKING STALLS'}

In [21]:
df.loc[df['Violation Description'].isin(['NO STOP/STANDING', 'STOP/STAND PROHIBIT']), ['Violation code', 'Violation Description']].drop_duplicates()

   Violation code Violation Description
25       80.69AP+      NO STOP/STANDING
80        80.69A+   STOP/STAND PROHIBIT